<!DOCTYPE html>
<html lang="en">

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta charset="UTF-8">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<title>All News Fit To Scrape</title>
	</head>

	<body>  


<!--Nav bar-->
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav">
        			<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        			<li><a href="/save">Saved Articles</a></li>
      			</ul>
      			<form action="/scrape" method="POST" class="navbar-form navbar-left">
        			<button type="submit" class="btn btn-default">Scrape</button>
      			</form>
    		</div>
  		</div>
	</nav>




	<div class="container">
  		<div class="row">
    		<div class="col-md-12">
      			<div class="jumbotron">
      			</div>
    		</div>
  		</div>
  		<div class="row">
    		<div class="col-md-12">
      			{{#each articles}}
        			<div class="panel panel-primary"> <!-- Panel -->
          				<div class="panel-heading row">
            				<div class="col-xs-9">
             					<h3 class="panel-title pull-left">{{this.title}}</h3>
            				</div>
            				<div class="col-xs-3">
	              				<form action="/save" method="POST">
	                				<input id="article-title" type="hidden" name="title" value="{{this.title}}">
	                				<input id="article-link" type="hidden" name="link" value={{this.link}}>
	                				<button type="submit" class="btn btn-default pull-right">Save This Article</button>
	              				</form>
            				</div>
          				</div>
        			<div class="row">
	            		<div class="col-xs-12>">
	              			<div class="panel-body">
	                			<p>{{this.link}}</p>
	              			</div>
	            		</div>
	          		</div>
	        	</div>
	      	{{/each}}
	    </div>
	  </div>
	</div>




	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Notes for Articles<span id="articleID"></span></h4>
	      </div>
	      <div class="modal-body">
	        <div id="notes"></div>
	      </div>
	    </div>
	  </div>
	</div>
		



<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
$(document).on("click", "#modalbutton", function() {
  $("#notes").empty();
  v//Make an ajax get request
});
$(document).on("click", "#savenote", function() {
  //make an Ajax Post request
});
$(document).on("click", "#deletenote", function() {
	//Make an AJax get request
});
</script>



	</body>

</html>